@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
  width: 100%;
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.intro img{
  float: left;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
  }
}

[data-user-color-scheme='dark'] {
  --accent: rgb(248, 244, 0);
  --background: var(--color-dark);
  --text-color: var(--color-light);
  --button-icon: var(--icon-sun);
  --button-icon-filter: var(--icon-sun-filter);
  --button-background: var(--color-light-alpha);
  --button-color: var(--color-dark);
  --border-color: var(--color-light-alpha);
}


.no-js .user-toggle {
  display: none;
}

.user-toggle {
  margin: 0;
  padding-top: 0;
  max-width: 20rem;
  text-align: center;
  
}

.toggle-button {
  display: inline-flex;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  font: inherit;
  font-size: var(--text-sm);
  padding: 0.5rem 1rem;
  transition: background 500ms ease-in-out, color 200ms ease;
  cursor: pointer;
}

.toggle-button__icon {
  background: var(--button-icon);
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 0.5em;
  filter: var(--button-icon-filter);
  transform: translateY(1px); /* Optical adjustment */
  transition: filter 500ms ease-in-out;
}

.toggle-button:focus {
  outline: 1px solid var(--button-background);
  outline-offset: 0.5rem;
}
